.content {
  padding-right: 2rem;
  width: $content-width;

  img {
    display: none;
  }

  code,
  pre {
    // background: #f8f8f8;
    background: $color-offwhite;
    border-radius: 4px;
    font-family: 'Inconsolata', monospace;
  }

  code {
    padding: .1rem;
  }

  pre {
    padding: .5rem;
  }
}
