<div class="container">

  <div class="content">

    <h1>Godmin</h1>

    <p>Godmin is an admin framework for Rails 4+. Use it to build dedicated admin sections for your apps, or stand alone admin apps such as internal tools. It has support for common features such as scoping, filtering and performing batch actions on your models. Try the demo.</p>

    <p>Godmin differs from tools like ActiveAdmin and RailsAdmin in how admin sections are created. Rather than being DSL-based, Godmin is a set of opt-in modules and helpers that can be applied to regular Rails apps and engines. An admin section built with Godmin is just that, a regular Rails app or Rails engine, with regular routes, controllers and views. That means there is less to learn, because you already know most of it, and fewer constraints on what you can do. After all, administrators are users too, and what better way to provide them with a tailor made experience than building them a Rails app?</p>

    <h2>Some thing</h2>

    <p>Godmin is an admin framework for Rails 4+. Use it to build dedicated admin sections for your apps, or stand alone admin apps such as internal tools. It has support for common features such as scoping, filtering and performing batch actions on your models. Try the demo.</p>

    <p>Godmin differs from tools like ActiveAdmin and RailsAdmin in how admin sections are created. Rather than being DSL-based, Godmin is a set of opt-in modules and helpers that can be applied to regular Rails apps and engines. An admin section built with Godmin is just that, a regular Rails app or Rails engine, with regular routes, controllers and views. That means there is less to learn, because you already know most of it, and fewer constraints on what you can do. After all, administrators are users too, and what better way to provide them with a tailor made experience than building them a Rails app?</p>

  </div>

  <div class="sidebar">
    <h3>Table of contents</h3>

    <ul class="sidebar__nav">
      <li class="sidebar__nav__item">
        <a href="#authentication">Authentication</a>
        <ul class="sidebar__nav">
          <li class="sidebar__nav__item"><a href="#built-in-authentication">Built in authentication</a></li>
          <li class="sidebar__nav__item"><a href="#shared-authentication">Shared authentication</a></li>
        </ul>
      </li>
      <li class="sidebar__nav__item"><a href="#authorization">Authorization</a></li>
      <li class="sidebar__nav__item"><a href="#localization">Localization</a></li>
      <li class="sidebar__nav__item"><a href="#javascript">JavaScript</a></li>
      <li class="sidebar__nav__item"><a href="#plugins">Plugins</a></li>
      <li class="sidebar__nav__item"><a href="#contributors">Contributors</a></li>
      <li class="sidebar__nav__item"><a href="#license">License</a></li>
      <li class="sidebar__nav__item">
        <a href="#authentication">Authentication</a>
        <ul class="sidebar__nav">
          <li class="sidebar__nav__item"><a href="#built-in-authentication">Built in authentication</a></li>
          <li class="sidebar__nav__item"><a href="#shared-authentication">Shared authentication</a></li>
        </ul>
      </li>
      <li class="sidebar__nav__item"><a href="#authorization">Authorization</a></li>
      <li class="sidebar__nav__item"><a href="#localization">Localization</a></li>
      <li class="sidebar__nav__item"><a href="#javascript">JavaScript</a></li>
      <li class="sidebar__nav__item"><a href="#plugins">Plugins</a></li>
      <li class="sidebar__nav__item"><a href="#contributors">Contributors</a></li>
      <li class="sidebar__nav__item"><a href="#license">License</a></li>
      <li class="sidebar__nav__item">
        <a href="#authentication">Authentication</a>
        <ul class="sidebar__nav">
          <li class="sidebar__nav__item"><a href="#built-in-authentication">Built in authentication</a></li>
          <li class="sidebar__nav__item"><a href="#shared-authentication">Shared authentication</a></li>
        </ul>
      </li>
      <li class="sidebar__nav__item"><a href="#authorization">Authorization</a></li>
      <li class="sidebar__nav__item"><a href="#localization">Localization</a></li>
      <li class="sidebar__nav__item"><a href="#javascript">JavaScript</a></li>
      <li class="sidebar__nav__item"><a href="#plugins">Plugins</a></li>
      <li class="sidebar__nav__item"><a href="#contributors">Contributors</a></li>
      <li class="sidebar__nav__item"><a href="#license">License</a></li>
      <li class="sidebar__nav__item">
        <a href="#authentication">Authentication</a>
        <ul class="sidebar__nav">
          <li class="sidebar__nav__item"><a href="#built-in-authentication">Built in authentication</a></li>
          <li class="sidebar__nav__item"><a href="#shared-authentication">Shared authentication</a></li>
        </ul>
      </li>
      <li class="sidebar__nav__item"><a href="#authorization">Authorization</a></li>
      <li class="sidebar__nav__item"><a href="#localization">Localization</a></li>
      <li class="sidebar__nav__item"><a href="#javascript">JavaScript</a></li>
      <li class="sidebar__nav__item"><a href="#plugins">Plugins</a></li>
      <li class="sidebar__nav__item"><a href="#contributors">Contributors</a></li>
      <li class="sidebar__nav__item"><a href="#license">License</a></li>
    </ul>
  </div>
</div>
