<div class="container">

  <div class="content">
    <%= @content.html_safe %>
  </div>

  <div class="sidebar">
    <h3>Table of contents</h3>

    <ul class="sidebar__nav">
      <li class="sidebar__nav__item">
        <a href="#authentication">Authentication</a>
        <ul class="sidebar__nav">
          <li class="sidebar__nav__item"><a href="#built-in-authentication">Built in authentication</a></li>
          <li class="sidebar__nav__item"><a href="#shared-authentication">Shared authentication</a></li>
        </ul>
      </li>
      <li class="sidebar__nav__item"><a href="#authorization">Authorization</a></li>
      <li class="sidebar__nav__item"><a href="#localization">Localization</a></li>
      <li class="sidebar__nav__item"><a href="#javascript">JavaScript</a></li>
      <li class="sidebar__nav__item"><a href="#plugins">Plugins</a></li>
      <li class="sidebar__nav__item"><a href="#contributors">Contributors</a></li>
      <li class="sidebar__nav__item"><a href="#license">License</a></li>
      <li class="sidebar__nav__item">
        <a href="#authentication">Authentication</a>
        <ul class="sidebar__nav">
          <li class="sidebar__nav__item"><a href="#built-in-authentication">Built in authentication</a></li>
          <li class="sidebar__nav__item"><a href="#shared-authentication">Shared authentication</a></li>
        </ul>
      </li>
      <li class="sidebar__nav__item"><a href="#authorization">Authorization</a></li>
      <li class="sidebar__nav__item"><a href="#localization">Localization</a></li>
      <li class="sidebar__nav__item"><a href="#javascript">JavaScript</a></li>
      <li class="sidebar__nav__item"><a href="#plugins">Plugins</a></li>
      <li class="sidebar__nav__item"><a href="#contributors">Contributors</a></li>
      <li class="sidebar__nav__item"><a href="#license">License</a></li>
      <li class="sidebar__nav__item">
        <a href="#authentication">Authentication</a>
        <ul class="sidebar__nav">
          <li class="sidebar__nav__item"><a href="#built-in-authentication">Built in authentication</a></li>
          <li class="sidebar__nav__item"><a href="#shared-authentication">Shared authentication</a></li>
        </ul>
      </li>
      <li class="sidebar__nav__item"><a href="#authorization">Authorization</a></li>
      <li class="sidebar__nav__item"><a href="#localization">Localization</a></li>
      <li class="sidebar__nav__item"><a href="#javascript">JavaScript</a></li>
      <li class="sidebar__nav__item"><a href="#plugins">Plugins</a></li>
      <li class="sidebar__nav__item"><a href="#contributors">Contributors</a></li>
      <li class="sidebar__nav__item"><a href="#license">License</a></li>
      <li class="sidebar__nav__item">
        <a href="#authentication">Authentication</a>
        <ul class="sidebar__nav">
          <li class="sidebar__nav__item"><a href="#built-in-authentication">Built in authentication</a></li>
          <li class="sidebar__nav__item"><a href="#shared-authentication">Shared authentication</a></li>
        </ul>
      </li>
      <li class="sidebar__nav__item"><a href="#authorization">Authorization</a></li>
      <li class="sidebar__nav__item"><a href="#localization">Localization</a></li>
      <li class="sidebar__nav__item"><a href="#javascript">JavaScript</a></li>
      <li class="sidebar__nav__item"><a href="#plugins">Plugins</a></li>
      <li class="sidebar__nav__item"><a href="#contributors">Contributors</a></li>
      <li class="sidebar__nav__item"><a href="#license">License</a></li>
    </ul>
  </div>
</div>
